= form_for @image, :html => {:multipart => true} do |f|
  .container
    .row
      .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
        %form{:role => "form"}
          %h2
            Formulaire d'ajout de post
            %small
          %hr.colorgraph
            .row
              .col-xs-6.col-sm-6.col-md-6
                .form-group
                  %input#titre.form-control.input-lg{:name => "image[titre]", :placeholder => "Titre", :tabindex => "1", :type => "text"}
              .col-xs-6.col-sm-6.col-md-6
                .form-group
                  %input#url.input-lg{:name => "image[url]", :placeholder => "Last Name", :style => "padding: 0px;", :tabindex => "2", :type => "file"}
            .form-group
              %textarea#description.form-control.input-lg{:name => "image[description]", :placeholder => "Entrez le texte",  :tabindex => "3", :type => "text"}

            %hr.colorgraph
              .row
                .col-xs-12.col-md-12
                  %input.btn.btn-primary.btn-block.btn-lg{:name => "commit", :type => "submit", :value => "Ajouter le post"}/
