%container
  %div.col-xs-push-2.col-xs-8.liste_posts
    %row
      %h2
        = @image.titre
    %row.center
      =image_tag @image.url, :class => "img-responsive"
    %div.col-xs-12.text-left
      = @image.description




